---
import { DEFAULT_SITE } from "../sites/config";

const site = Astro.locals.site ?? DEFAULT_SITE;
const year = new Date().getFullYear();
---

<footer>
	<p class="tagline">
		Independent customer reviews of <a href={site.shopUrl} target="_blank" rel="noopener"
			>{site.companyName}</a
		>, aggregated from across the web.
	</p>
	<p class="copyright">&copy; {year} {site.companyName} Reviews. All rights reserved.</p>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	footer p {
		margin: 0.25em 0;
	}
	.tagline a {
		color: rgb(var(--gray-dark));
		font-weight: 700;
	}
	.copyright {
		font-size: 0.9rem;
	}
</style>
