---
import { SHOP_URL } from "../consts";
const today = new Date();
---

<footer>
	<p class="tagline">
		Independent customer reviews of <a href={SHOP_URL} target="_blank" rel="noopener">Memorygram</a>
		personalized keepsakes.
	</p>
	<p class="copyright">&copy; {today.getFullYear()} Memorygram. All rights reserved.</p>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	footer p {
		margin: 0.25em 0;
	}
	.tagline a {
		color: rgb(var(--gray-dark));
		font-weight: 700;
	}
	.copyright {
		font-size: 0.9rem;
	}
</style>
